<!doctype html>
<title>{% block title %}{% endblock %} - Zorky</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Zorky</h1>
  <ul>
      <li><a href="{{ url_for('home') }}">Home</a>
      <li><a href="{{ url_for('reset') }}">RESET</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>