<head>
    <title>chamber: {{ number }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="mx-auto p-2">
        <div class="App">
            chamber: {{ number }}
        </div>

        {% if chamber.npc %}

        {% endif %}
        {% if activeNpcs %}
        <div class="container">
            <div class="row">
                {% for name in activeNpcs %}
                <div class="col-sm">

                    <img src="{{ url_for('static', filename=name + '.png') }}" alt="{{ name }}" width="250" />

                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ activeNpcs[name] }}</p>


                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container">
                    <div class="row bg-success">
                        <img src="{{ url_for('static', filename= 'roomplaceholder.jpeg') }}" alt="{{ name }}" />
                    </div>
                    <div class="row bg-danger p-2">
                        <div class="container">
                            {% for event in history.most_recent_events(5) %}
                            <div class="row">
                                {% for line in event.description() %}
                                {{ line }}
                            </br>
                                {% endfor %}
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            {%endfor%}
                        </div>
                        
                    </div>
                    <div class="row bg-success p-2">
                        Enter command:
                        <form action="/game" method="POST">
                            <p><input type='text' name='cm' /></p>
                            <p><input type='submit' value='Submit' /></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-danger">
                <pre>{{ mapString }}</pre>
            </div>
        </div>
    </div>
    <div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>