<div class="container">
    <div class="row has-bg-img" style="height: 700px;">
        <div class="bg-image"
            style="background-image: url({{ url_for('static', filename= 'roomplaceholder.jpeg') }});">

            {% if activeNpcs %}
            <div class="container position-relative bottom-0 start-0">
                <div class="row m-100">
                    {% for name in activeNpcs %}
                    <div class="col-sm">

                        <img src="{{ url_for('static', filename=name + '.png') }}" alt="{{ name }}"
                            width="250" />

                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ activeNpcs[name] }}</p>

                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>